
body{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   }
   h1 {
     font-family: 'Gugi', cursive;
     font-weight: bolder;
     text-align: center;
     color: whitesmoke;
     margin-bottom: 0px;
     margin-top: 10px;
     padding-bottom: 2px;
     font-size: 48px;
     text-shadow: 2px 2px 5px black;
     
   }
   
   
   h2{
     text-align: center;
     font-weight: bold;
     color:rgb(255, 255, 255);
     font-family: 'Quattrocento', serif;
   }
   
   
   
   @media only screen and (max-width: 600px){
     .overlay{
       margin-left: 1%;
       margin-right: 2%;
     }
   
   
     h1{
       font-size: 30px;
     }
     
     #heading img{
       float: left;
       width: 40%;
       height: 60%;;
     }
   }
   #heading img{
     float: left;
     width: 10%;
     margin-top: -10px;
   }
   
   
   .footer-copyright{
     color: rgb(255, 255, 255);
     font-weight: 600;
     font-size: 18px;
   }
   
   